.wrapper {
    min-height: 600px;
    background: linear-gradient(180deg, #7aa366 300px, white 5%, white 53%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 40px;
    h1 {
        top: 50px;
        left: 11%;
        color: white;
        position: absolute;
    }

    .content {
        width: 1200px;
        display: flex;
        border-radius: 20px;
        align-items: stretch;
        margin-top: 100px;

        .pet-image {
            background-color: var(--third-color);
            width: 40%;
            padding: 10px;
            margin-right: 20px;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
            align-items: stretch;
            position: relative;

            .slideBtn {
                position: absolute;
                top: 35%;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
                font-weight: 600;
                font-size: 18px;
                transition: opacity 0.3s;
                opacity: 0.3;

                &:hover {
                    opacity: 0.8;
                }
            }

            .pre-btn {
                left: 20px;
            }
            .next-btn {
                right: 20px;
            }

            .image {
                width: 100%;
                border-radius: 20px;
                background-color: var(--third-color);

                img {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 20px;
                }

                .sub-img {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;

                    .color-border {
                        border: 3px solid #718466;
                    }

                    img {
                        width: 80px !important;
                        height: 80px;
                        border-radius: 10px;
                        border: 3px solid transparent;
                        transition: transform 0.5s ease, border 0.5s ease;

                        &:hover {
                            transform: scale(1.1);
                        }

                        &:nth-child(n + 6) {
                            display: none;
                        }
                    }
                }
            }
        }

        .pet-info {
            background-color: var(--third-color);
            width: 60%;
            padding: 10px 20px;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .detail-info {
                position: relative;
                width: 50%;
                .detail-item {
                    display: flex;

                    div {
                        margin-right: 25px;
                        p {
                            margin-bottom: 10px;
                        }
                    }
                }

                .adopt {
                    display: flex;
                    margin-top: 10px;

                    Button:first-child {
                        margin-right: 10px;
                    }
                }

                .edit {
                    margin-top: 20px;
                    display: flex;

                    Button:first-child {
                        margin-right: 10px;
                    }
                }

                &::after {
                    content: '';
                    background-color: rgb(199, 199, 199);
                    width: 1px;
                    height: 85%;
                    position: absolute;
                    right: 30px;
                    top: 13%;
                }
            }

            .story {
                width: 50%;
                .description-wrapper {
                    height: 280px;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        width: 6px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: transparent; // set màu scroll
                        border-radius: 6px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: transparent; // set màu cái background của scroll
                        border-radius: 6px;
                    }
                    &::-webkit-scrollbar-thumb:horizontal {
                        min-width: 20px;
                    }

                    &:hover::-webkit-scrollbar-thumb {
                        background-color: rgba(22, 24, 35, 0.1);
                    }

                    .description {
                        text-align: justify;
                        margin-bottom: 0;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
