.popup-create-blog{
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 11;

    h1{
        color: white;
    }

    .close-popup{
        color: white;
    }
}