.account {
    display: flex;
    align-items: center;

    .noti-wrap {
        display: flex;
        flex-direction: column;

        .icon-header {
            font-size: 22px;
            color: var(--primary-color);
            margin-right: 8px;
            cursor: pointer;
            position: relative;
        }

        .icon-header:hover + .noti-menu {
            display: block;
        }

        .noti-menu {
            display: none;
            position: absolute;
            background-color: white;
            padding: 10px;
            width: 280px;
            top: 85px;
            max-height: 500px;
            right: 200px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px;
            z-index: 100;
            border-radius: 15px;

            .noti-item {
                display: flex;
                flex-direction: column;
                padding: 10px 15px;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px;
                border-radius: 15px;

                .noti-text {
                    display: flex;
                    justify-content: space-between;

                    .name {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        line-height: 1.2em;
                        max-height: 2.4em;
                    }

                    .view {
                        color: var(--primary-color);
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .status {
                        background-color: green;
                        padding: 0 10px;
                        display: inline-block;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 10px;
                        color: white;
                    }

                    &:first-child {
                        margin-bottom: 10px;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .username {
        color: var(--primary-color);
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        margin-left: 5px;

        p {
            margin: 0;
            margin-right: 5px;
            max-width: 90px;
            overflow: hidden;
            font-weight: 500;
            font-size: 16px;
        }
        .icon-user {
            font-size: 18px;
        }
    }
}
