.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền tối với độ mờ */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
    .wrapper {
        background-color: white;
        width: 500px;
        padding: 15px;
        border-radius: 15px;

        form {
            input,
            textarea {
                width: 100%;
                border-radius: 5px;
                border: 1px solid black;
                padding: 5px;
            }
            textarea {
                height: 80px;
                overflow-y: auto;
            }
            .form-input {
                display: flex;
                flex-direction: column;
            }

            .form-rating {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 15px 0;

                .living-item {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
