.wrapper{
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 80px;

    .text{
        margin-right: 100px;

        p{
            margin: 0;
        }
    }
}